@model IEnumerable<web_app.Models.BlogArticle>
@using web_app.Extensions

@{
    ViewData["Title"] = "Blog Articles";
}

<h1>Articulos del Blog</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Articulo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsPublished)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var article in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => article.Title)</td>
            <td>@article.Description.Truncate(30)</td>
            <td>@Html.DisplayFor(modelItem => article.CreatedDate)</td>
            <td>@Html.DisplayFor(modelItem => article.UpdatedDate)</td>
            <td>
                <input type="checkbox" disabled="disabled" @(article.IsPublished ? "checked" : "") />
            </td>
            <td>
                <div class="btn-group" role="group">
                    @if (!article.IsPublished)
                    {
                        <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-sm btn-warning">Editar</a>
                        <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-sm btn-info">Detalle</a>
                        <form asp-action="Delete" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@article.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
                        </form>
                        <form asp-action="Publish" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@article.Id" />
                            <button type="submit" class="btn btn-sm btn-success">Publicar</button>
                        </form>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-sm btn-info">Detalle</a>
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
